<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
	<link rel="stylesheet" href="{$basePath}/css/style.css">
	<link rel="stylesheet" href="{$basePath}/css/layout.css">
</head>
<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	<nav class="navbar">
		<div class="flex-row">
			<a class="nav-item mr-auto" n:href="Homepage:"><span class="nav-line"></span>Homepage</a>
			<div class="navbar-login">
				<a class="nav-item" n:href="Register:yes"><span class="nav-line"></span>Create Account</a>
				{if $user->isLoggedIn()}
				<a class="nav-item" n:href="Sign:out"><span class="nav-line"></span>Sign out ({$user->getIdentity()->name})</a>
				<a class="nav-icon" n:href="User:settings"><img class="settings-icon" src="/nette-blog/www/images/settings_icon.png"></a>
				{else}
					<a class="nav-item" n:href="Sign:in"><span class="nav-line"></span>Sign in</a>
				{/if}
			</div>
		</div>
    </nav>

	{include content}

	{block scripts}
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	<script>
		const nav_items = document.getElementsByClassName("nav-item");

		// nav-item animation
		for (let item of nav_items) {
			item.onmouseover = () => {
				item.childNodes[0].style.width = "100%";
			}
			item.onmouseout = () => {
				item.childNodes[0].style.width = "0px";
			}
		}
	</script>
	{/block}
</body>
</html>
