{block content}

<div class="flex-row">
    <p><a class="link" n:href="Homepage:default">← back to posts list</a></p>
    <a class="new-edit-post link" n:href="edit $post->id">Edit this post</a>
</div>
<div class="post1">
    <p class="date">{$post->created_at|date:'F j, Y'}</p>
    <h1 n:block="title">{$post->title}</h1>
    <p>{$post->content}</p>
    <div class="flex-row-center likes">
        <div class="flex-column">
            <a n:href="like (expand) [$post->id, true]"><img class="like-icon" src="/nette-blog/www/images/like_icon.png"></a>
            {if $user->isLoggedIn() && $user_liked_post != null && $user_liked_post->user_like}
                <p class="italic link m-0">{$post->likes}</p>
            {else}
                <p class="italic m-0">{$post->likes}</p>
            {/if}
        </div>
        <div class="flex-column">
            <a n:href="like (expand) [$post->id, false]"><img class="like-icon" src="/nette-blog/www/images/dislike_icon.png"></a>
            {if $user->isLoggedIn() && $user_liked_post != null && $user_liked_post->user_dislike}
                <p class="italic link m-0">{$post->dislikes}</p>
            {else}
                <p class="italic m-0">{$post->dislikes}</p>
            {/if}
        </div>
    </div>
</div>

<h2>Post new comment</h2>
{control commentForm}

<h2>Comments ({count($comments)})</h2>
<div class="comments">

    {* If there are no comments *}
    {if count($comments) == 0}
        <p>There are no comments yet</p>
    {/if}

	{foreach $comments as $comment}
        <div class="comment">
            <h3><b><a class="link" href="mailto:{$comment->email}" n:tag-if="$comment->email">{$comment->name}</a></b> said:</h3>
            <p>{$comment->content}</p>
            <p class="date">{$comment->created_at|date:'H:i \/ j\.m\.Y'}</p>
        </div>
	{/foreach}

</div>