parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no


services:
	- App\Router\RouterFactory::createRouter
	- App\UserAuthenticator
	security.passwords: Nette\Security\Passwords(::PASSWORD_BCRYPT, [cost: 12])

security:
	users:
		#admin: admin  # user 'admin', password 'admin'