{block content}
<h1>User Settings</h1>

<ul>
    <li><a class="link" n:href="User:changeusername">Change username</a></li>
    <li><a class="link" n:href="User:changepassword">Change password</a></li>
</ul>