@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

body {
	font: 16px/1.5 "Fira Sans";
	margin: 0 auto;
	color: #F6F7EB;
	/*color: #393E41;*/
	/*background-color: #393E41;*/
	background: url("../images/computer.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

@media only screen and (min-width: 768px) {
	body {
		width: 50%;
	}
	.post1 .date {
		position: absolute;
		margin: 0;
		top: 0;
		right: 0;
	}
}

@media only screen and (max-width: 768px) {
	body {
		width: 80%;
	}
}

@media only screen and (max-width: 1024px) {
	.post1 .date {
		position:static;
		text-align: center;
	}
}