@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

body {
	font: 16px/1.5 Georgia, Verdana, Arial;
	margin: 0 auto;
	color: #F6F7EB;
	/*color: #393E41;*/
	/*background-color: #393E41;*/
	background: url("../images/computer.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

@media only screen and (min-width: 768px) {
	body {
		width: 50%;
	}
	.post1 .date {
		position: absolute;
		margin: 0;
		top: 0;
		right: 0;
	}
}

@media only screen and (max-width: 768px) {
	body {
		width: 80%;
	}
}

@media only screen and (max-width: 1024px) {
	.post1 .date {
		position:static;
		text-align: center;
	}
}

a {
	text-decoration: none;
	color: #b7b7a4;
}
a:hover {
	text-decoration: underline;
	text-decoration-color: #b7b7a4;
}

/* flex-row class */
.flex-row {
	display: flex;
	flex-direction: row;
}

/* main page title and create new page link */
.main-title {
	display: inline-block;
}
.new-edit-post {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
}

input[type="text"]:focus, textarea:focus {
	outline: none;
}
input[type="text"], input[type="email"], textarea {
	outline: none;
	border: solid 1px #878C8F;
	box-shadow: 0 0 2px 0 #878C8F;
	border-radius: .3em;
}

/* post on the main page style */
.post {
    padding: 1em;
    border-radius: .5em;
    background: linear-gradient(#007b94, #264653);
    box-shadow: 0 0 5px 0 #005f73;
	color: #F6F7EB;
}
.post h2, .post h1 {
    margin-top: 0;
    margin-bottom: .3em;
}
.post>h2>a {
	color: #e9c46a;
}
.post>h2>a:hover {
	color: #e9c46a;
	text-decoration: underline;
	text-decoration-color: #e9c46a;
}
.post {
    margin-bottom: 2em;
}

/* The actual post when you click on it style */
.post1 {
	position: relative;
	border-top: solid 2px #F6F7EB;
	border-bottom: solid 2px #F6F7EB;
	padding: .5em;
	margin-bottom: 4em;
	/*background-color: rgba(0, 0, 0, .4);*/
}
.post1 .date {
	padding: .4em;
	margin: 0;
}
.post1 h1 {
	margin-top: 0;
	text-align: center;
}

/* comment style */
.comment {
	padding: .5em;
	margin: .4em;
	border-radius: .5em;
    background-color: #638475;
    box-shadow: 0 0 5px 0 #638475;
}
.comment p, .comment h3{
	margin-top: .2em;
	margin-bottom: .2em;
}
.comment .date {
	display: inline-block;
}

.date {
    font-style: italic;
}

.button {
	background-color: 
}