a {
	text-decoration: none;
}
.link {
	color: #e9c46a;
}
.link:hover {
	text-decoration: underline;
	text-decoration-color: #e9c46a;
}

/* navbar */
.navbar{
	padding-top: 1em;
	padding-bottom: 1em;
}
.nav-item-home {
	margin-right: auto;
}
.nav-item{
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	position: relative;
	display: inline-block;
}
/* navbar colors */
.nav-item{
    color: rgb(225, 225, 225);
}
/* animated nav-item */
.nav-item span {
	background-color: rgb(225, 225, 225);
	height: 1px;
	width: 0%;
	display: block;
	position: absolute;
	bottom: 0;
	transition-duration: .3s;
}

/* flex-row class */
.flex-row {
	display: flex;
	flex-direction: row;
}

/* main page title and create new page or new post link */
.main-title {
	display: inline-block;
}
.new-edit-post {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	outline: none;
}
input[type="text"], input[type="email"], input[type="password"], textarea {
	outline: none;
	border: solid 1px #878C8F;
	box-shadow: 0 0 2px 0 #878C8F;
	border-radius: .3em;
}

/* post on the main page style */
.post {
    padding: 1em;
    border-radius: .5em;
    background: linear-gradient(#007b94, #264653);
    box-shadow: 0 0 5px 0 #005f73;
	color: #F6F7EB;
}
.post h2, .post h1 {
    margin-top: 0;
    margin-bottom: .3em;
}
.post>h2>a {
	color: #e9c46a;
}
.post>h2>a:hover {
	color: #e9c46a;
	text-decoration: underline;
	text-decoration-color: #e9c46a;
}
.post {
    margin-bottom: 2em;
}

/* The actual post when you click on it style */
.post1 {
	position: relative;
	border-top: solid 2px #F6F7EB;
	border-bottom: solid 2px #F6F7EB;
	padding: .5em;
	margin-bottom: 4em;
	/*background-color: rgba(0, 0, 0, .4);*/
}
.post1 .date {
	padding: .4em;
	margin: 0;
}
.post1 h1 {
	margin-top: 0;
	text-align: center;
}

/* comment style */
.comment {
	padding: .5em;
	margin: .4em;
	border-radius: .5em;
    background-color: #007b94;
    box-shadow: 0 0 5px 0 #007b94;
}
.comment p, .comment h3{
	margin-top: .2em;
	margin-bottom: .2em;
}
.comment .date {
	display: inline-block;
}

.date {
    font-style: italic;
	margin-bottom: 0;
}

input[type="submit"] {
	padding: .5em;
	cursor: pointer;
	font-size: .9em;
	border: solid #e9c46a 1px;
	border-radius: .5em;
	color: #F6F7EB;
	background-color: rgba(0, 0, 0, 0);
	transition: .2s;
}
input[type="submit"]:hover {
	transition: .2s;
	background-color: #e9c46a;
	color: black;
}